/* =====================
   Cartalex Map CSS
   ===================== */

   :root {
    --primary-bg: #f0de6b;
    --primary-border: #b8a186;
    --primary-text: rgba(18, 97, 130, 0.9);
    --accent: rgba(149, 116, 75, 0.9);
    --white: #fff;
    --focus-outline: 2px solid #005fcc;
  }
  
  /* ========== Global Reset & Base ========== */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.95rem;
  }
  html, body {
    margin: 0;
    height: 100%;
    background: var(--white);
    color: var(--primary-text);
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  /* ========== Map Container ========== */
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* ========== Popup ========== */
  #popup-content {
    width: fit-content;
    padding: 0.2em;
    background-color: var(--primary-bg);
    border: solid 0.1em var(--primary-border);
    border-radius: 2px;
  }
  #popup-content li {
    margin: 0;
    text-decoration: none;
  }
  #popup-content ul {
    list-style-type: none;
  }
  
  /* ========== Controls ========== */
  .mousePosition {
    position: fixed;
    right: 0;
    bottom: 1em;
    margin: 0.5rem;
    background-color: var(--white);
    color: var(--primary-text);
    padding: 0.2rem;
    border: solid 0.1rem var(--primary-border);
    border-radius: 2px;
    font-size: 1em;
  }
  .ol-scale-line > div {
    font-size: 1em;
    background-color: var(--white);
    border-color: var(--primary-border);
    color: var(--primary-text);
    bottom: 1em;
    position: fixed;
    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 2px;
  }
  
  /* ========== Panels & Volets ========== */
  #volet_haut_clos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    --width0: 22rem;
  }
  #volet_haut {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    color: var(--white);
    text-align: center;
    transition: transform .2s ease-in;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #volet_haut_clos .onglets_haut {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem 0;
    background: var(--accent);
    border-radius: 0 0 8px 8px;
  }
  #volet_haut_clos .onglets_haut:hover {
    background-color: #319583;
  }
  #volet_haut_clos a.ouvrir,
  #volet_haut_clos a.fermer {
    text-decoration: none;
    color: var(--white);
  }
  #volet_haut_clos a.fermer { display: none; }
  #volet_haut_clos a.ouvrir:after { content: ' ▼'; }
  #volet_haut_clos a.fermer:after { content: ' ▲'; }
  #volet_haut:target { transform: translateY(100%); }
  #volet_haut:target a.ouvrir { display: none; }
  #volet_haut:target a.fermer { display: initial; }
  
  /* ========== Dropdowns & Filters ========== */
  .filter-collection-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 10vh;
  }
  .filter-content {
    position: relative;
    display: inline-block;
    border: none;
    margin-inline-end: 3vh;
    padding-top: 0.5rem;
    margin-bottom: 0.3rem;
    margin-right: 3rem;
    width: 100%;
  }
  .filter-infos {
    display: none;
    background-color: var(--primary-bg);
    color: black;
    position: absolute;
    text-align: left;
    padding: 0.2em;
  }
  .filter-name:hover + .filter-infos {
    display: flex;
  }
  .subfilter-content {
    display: none;
    list-style-type: none;
    border: solid 0.1rem var(--accent);
    text-align: left;
    padding: 1vh;
    background-color: var(--white);
    max-width: 30vw;
  }
  .subfilter-content > div {
    padding: 0.2em;
  }
  .subfilter-values ul {
    overflow: scroll;
    max-height: 20vh;
  }
  .subfilter-values li {
    padding-bottom: 0.2rem;
    text-transform: capitalize;
  }
  .subfilter-content label, input {
    margin-left: 0.5rem;
    color: var(--accent);
  }
  .subfilter-numeric-filter {
    display: flex;
    flex-direction: column;
  }
  .subfilter-numeric-filter > div {
    margin: 0.2em;
    display: flex;
    justify-content: space-between;
  }
  .filter-name {
    display: block;
    color: var(--accent);
    border: solid 0.1rem;
    padding: 0.3rem;
    width: 100%;
    cursor: pointer;
    background-color: var(--white);
  }
  
  /* ========== Accessibility: Focus States ========== */
  a:focus, button:focus, input:focus, .filter-name:focus {
    outline: var(--focus-outline);
    outline-offset: 2px;
  }
  
  /* ========== Responsive Design ========== */
  @media screen and (max-width: 800px) {
    #map {
      position: relative;
      width: 100vw;
      height: 60vh;
    }
    .filter-collection-content {
      flex-direction: column;
      margin-left: 0;
    }
    .filter-content {
      width: 100%;
      margin-right: 0;
    }
  }
  
  /* ========== Utility Classes ========== */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  /*DROPDOWN*/
  .filter-collection-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 10vh;
  }
  .filter-content{
    position: relative;
    display: inline-block;
    border: none;
    margin-inline-end: 3vh;
    padding-top: 0.5rem;
    margin-bottom: 0.3rem;
    margin-right: 3rem;
    width: 100%;
  }
  .filter-infos{
    display: none;
    background-color: #f0de6b;
    color: black;
    position: absolute;
    text-align: left;
    padding: 0.2em;
  }
  .filter-name:hover + .filter-infos{
    display: flex;
  }
  .subfilter-content{
    display: none;
    list-style-type: none;
    border: solid 0.1rem;
    border-color: rgba(149, 116, 75, 0.671);
    text-align: left;
    padding: 1vh;
    background-color: white;
    max-width: 30vw;
  }
  .subfilter-content > div{
    padding: 0.2em;
  }
  .subfilter-values ul{
    overflow: scroll;
    max-height: 20vh;
  }
  .subfilter-values li{
    padding-bottom: 0.2rem;
    text-transform: capitalize;
  }
  .subfilter-content label, input{
    margin-left: 0.5rem;
    color: rgba(149, 116, 75, 0.671);
  }
  .subfilter-numeric-filter{
    display: flex;
    flex-direction: column;
  }
  .subfilter-numeric-filter > div {
    margin: 0.2em;
    display: flex;
    justify-content: space-between;
  }
  .filter-name{
    display: block;
    color: rgba(149, 116, 75, 0.671);
    border: solid 0.1rem;
    padding: 0.3rem;
    width: 100%;
    cursor: pointer;
    background-color: white;
  }
  .dropbtnTitleClicked{
    border-bottom: none;
  }
  .subfilter-title{
    display: block;
    cursor: pointer;
    border: solid 0.1rem;
    color: white;
    width: 100%;
    background-color: rgba(18, 97, 130, 0.671);
    text-align: left;
    font-size: 0.9rem;
    padding: 0.2rem;
    transition: margin 0.5s;
    width: fit-content;
  }
  .subfilter-title-unwraped{
    margin-left: 2rem;
    transition: margin 0.5s;
  }
  .show{
    display: block;
  }
  .showDrop{
    display: block;
  }
  
  #map-credits{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #map-credits ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.7);
  }
  
  #volet_bas_clos {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
  }
  #volet_bas {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0.5rem;
      background: rgba(18, 97, 130, 0.671);
      color: rgb(255, 255, 255);
      text-align: center;
      -webkit-transition: transform .5s ease-in;
      -moz-transition: transform .5s ease-in;
      transition: transform .2s ease-in;
  }
  #volet_bas_clos .onglets_bas {
      --width1: 8rem; /* demi-largeur */
      position: absolute;
      bottom: 100%;  /*!!*/
      left: calc(50% - var(--width1));
      right: calc(50% - var(--width1));
      padding: 0.3rem 0;
      background: rgba(149, 116, 75, 0.671);
      border-radius: 8px 8px 0 0;
  }
  #volet_bas_clos .onglets_bas:hover{
    background-color: rgba(49, 149, 131, 0.671);
  }
  #volet_bas_clos a.ouvrir,
  #volet_bas_clos a.fermer {
      text-decoration: none;
    color: white;
  }
  #volet_bas_clos a.fermer { display: none; }
  #volet_bas_clos a.ouvrir::after { content: ' ▲'; }
  #volet_bas_clos a.fermer::after { content: ' ▼'; }
  
  #volet_bas:target { transform: translateY(-100%); }
  #volet_bas:target a.ouvrir { display: none; }
  #volet_bas:target a.fermer { display: initial; }
  
  #volet_gauche_clos {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  #volet_gauche {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    padding: 0.5rem;
    color: white;
    text-align: center;
    -webkit-transition: transform .5s ease-in;
    -moz-transition: transform .5s ease-in;
    transition: transform .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #volet_gauche_clos .onglets_gauche {
    --width1: 6rem; /* demi-largeur */
    position: absolute;
    left: 100%;
    top: calc(50% - var(--width1));
    bottom: calc(50% - var(--width1));
    padding: 0.3rem;
    background: rgba(149, 116, 75, 0.671);
    border-radius: 0 8px 8px 0;
    writing-mode: vertical-lr;
    overflow: hidden;
    white-space: nowrap;
  }
  #volet_gauche_clos .onglets_gauche:hover{
    background-color: white;
    border: solid 0.1rem rgba(18, 97, 130, 0.671);
    text-decoration: none;
  }
  #volet_gauche_clos a.ouvrir,
  #volet_gauche_clos a.fermer {
    text-decoration: none;
    color: white;
  }
  #volet_gauche_clos a:hover{
    color: rgba(149, 116, 75, 0.671);
  }
  
  
  #volet_gauche_clos a.fermer { display: none;}
  #volet_gauche_clos a.ouvrir::after { content: ' ▶';}
  #volet_gauche_clos a.fermer::after { content: ' ◀'; }
  
  .layerdDragbox{
    width: 100%;
    background: rgba(18, 97, 130, 0.671);
    text-align: center;
    padding: 1rem;
  }
  .layerDragbox .listitem{
    width: 100%;
    display: flex;
    cursor: grab;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border: solid;
    border-width: 0.05rem;
    background: rgba(18, 97, 130, 0.671);
    flex-direction: column;
    align-items: start;
  }
  .layerDragbox .listitem .itemLabel{
    margin-left: 0.5rem;
    cursor: grab;
  }
  .listitem:hover{
    background: rgba(149, 116, 75, 0.671);
  }
  
  .layer-abstract{
    display: none;
    color: black;
    background-color: #f0de6b;
    position: absolute;
  }
  
  .listitem:hover .layer-abstract{
    display: block;
  }
  
  .layer_option{
    margin-left: 4rem;
    display: none;
    text-decoration: none;
  }
  .layer_option_item{
    display: flex;
    margin: 0.2rem;
    align-items: center;
    gap: 0.5rem;
  }
  .appears{
    display: block;
  }
  
  /* ouverture */
  #volet_gauche:target { transform: translateX(100%); }
  #volet_gauche:target a[href="#volet_gauche"] { display: none; }
  #volet_gauche:target a[href="#volet_gauche_clos"] { display: initial; }
  
  #volet_droite_clos {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #volet_droite {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    padding: 0.5rem;
    color: white;
    text-align: center;
    -webkit-transition: transform .5s ease-in;
    -moz-transition: transform .5s ease-in;
    transition: transform .2s ease-in;
  }
  
  #volet_droite_clos .onglets_droite {
    --width1: 8rem; /* demi-largeur */
    position: absolute;
    right: 100%;
    top: calc(50% - var(--width1));
    bottom: calc(50% - var(--width1));
    background: rgba(149, 116, 75, 0.67171);
    border-radius: 8px 0 0 8px;
    writing-mode: sideways-lr;
    padding: 0.3rem;
  }
  #volet_droite_clos .onglets_droite:hover{
    background-color: rgba(49, 149, 131, 0.671);
  }
  #volet_droite_clos a.ouvrir,
  #volet_droite_clos a.fermer {
    text-decoration: none;
    color: white;
  }
  
  #volet_droite_clos a.fermer { display: none;}
  #volet_droite_clos a.ouvrir::after { content: ' ▲';}
  #volet_droite_clos a.fermer::after { content: ' ▼'; }
  /* ouverture */
  #volet_droite:target { transform: translateX(-100%); }
  #volet_droite:target a[href="#volet_droite"] { display: none; }
  #volet_droite:target a[href="#volet_droite_clos"] { display: initial; }
  .itemMenu{
    width: 100%;
    overflow: scroll;
    max-height: 100vh;
  }
  .itemMenu li{
    white-space: nowrap;
  }
  .itemMenu li thead{
    cursor: pointer;
    text-align: left;
  }
  .tableBody{
    display: none;
    animation: fade-in 1s;
  }
  .showTable{
    display: block;
    animation: fade-out 1s;
  }
  .tableInfos td{
    padding: 0.5rem;
    text-align: left;
    border-collapse: collapse;
    border: solid 0.1rem white;
  }
  .tableInfos td:nth-child(1){
    background-color: rgba(149, 116, 75, 0.671);
  }
  .tableInfos td:nth-child(2){
    background-color: white;
    color: rgba(18, 97, 130, 0.671);
    white-space: break-spaces;
  }
  .tableInfos{
    border: solid 0.15rem white;
    background-color: rgba(18, 97, 130, 0.671);
  }
  .tableInfos th{
    padding: 0.3rem;
  }
  .selectedTable{
    background-color: #f0de6b;
  }
  
  .spinner-overlay {
        /* position: fixed; */
        /* top: 0; */
        /* left: 0; */
        /* width: 100%; */
        /* height: 100%; */
        /* background: rgba(255, 255, 255, 0.8); */
        float: right;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        z-index: 9999;
        display: none; /*masqué par défaut*/
      }
  
      /* Animation du spinner */
      .spinner {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: spin 1s linear infinite;
      }
  
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
  
      button {
        padding: 10px 20px;
        font-size: 16px;
      }